<%= form_for(@product, url: {action: method }) do |f| %>
  <div class='d-flex mt-2'>
    <div class='w-100 mb-3'>
      <label for='code'>Product Code</label>
      <%= f.text_field :code, autofocus: true, placeholder: 'Enter Product Code', class: 'form-control', required: true %>
    </div>
    <div class='w-100 mb-3 left-margin'>
      <label for='name'>Product name</label>
     <%= f.text_field :name, placeholder: 'Enter Product Name', class: 'form-control', required: true %>
    </div>
  </div>
  <div class='d-flex'>
    <div class='w-100 mb-3'>
      <%= f.label :description %>
      <%= f.text_field :description, placeholder: 'Enter Product Details', class: 'form-control' %>
    </div>
  </div>
  <div class='d-flex'>
    <div class='w-100 mb-3'>
      <%= f.label :quantity %>
      <%= f.number_field :quantity, placeholder: 'Enter Product Stock', class: 'form-control', min: 0 %>
    </div>
  </div>
  <div class='d-flex'>
    <div class='w-100 text-center'>
      <% if method == 'update' %>
        <%= f.submit 'Update Product', class: 'btn btn-success' %>
      <% else %>
        <%= f.submit 'Add Product', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
<% end %>