<div class='d-flex product-body'>
  <div class='w-100'>
    <strong><%= product.name.camelize %></strong>
    <div>SKU: <%= product.code %></div>
  </div>
  <div class='w-100'><%= product.category&.name&.camelize || 'Others'%></div>
  <div class='w-100'><%= stock_status(product.quantity) %></div>
  <div class='w-100'>
    <% if product.avatar.attached?%>
      <%= image_tag product.avatar, class: 'product-img'%>
    <% end%>
  </div>
</div>

<div class='product-expand d-none new-product-form'>
  <div class='d-flex justify-content-end' id='cros-expand'>
    <i class="bi bi-x-lg"></i>
  </div>
  <%= form_for(product, remote: true) do |f|%>
    <div class='d-flex mt-2'>
      <div class='w-100 mb-3'>
        <label for='code'>Product Code</label>
        <%= f.text_field :code, autofocus: true, placeholder: 'Enter Product Code', class: 'form-control', required: true %>
      </div>
      <div class='w-100 mb-3 left-margin'>
        <label for='name'>Product name</label>
      <%= f.text_field :name, placeholder: 'Enter Product Name', class: 'form-control', required: true %>
      </div>
    </div>
    <div class='d-flex'>
      <div class='w-100 mb-3'>
        <%= f.label :description %>
        <%= f.text_field :description, placeholder: 'Enter Product Details', class: 'form-control' %>
      </div>
      <div class='w-100 mb-3 left-margin product-category-select'>
        <%= f.label :category %>
        <%= f.collection_select :category_id, @categories, :id, :name%>
      </div>
    </div>
    <div class='d-flex mt-2'>
      <div class='w-100 mb-3'>
        <%= f.label :quantity, 'Stock' %>
        <%= f.number_field :quantity, placeholder: 'Enter Product Stock', class: 'form-control', min: 0 %>
      </div>
      <div class='w-100 mb-3 left-margin'>
        <%= f.label :avatar, 'Update Image' %>
        <%= f.file_field :avatar,  class: 'form-control', direct_upload: true, accept: "image/*" %>
      </div>
    </div>
    <div class='d-flex'>
      <div class='w-100 text-center'>
        <%= f.submit 'Update Product', class: 'btn btn-success', data: { confirm: 'Are you sure? you want to update this product?' } %>
      </div>
      <div class='w-100 text-center'>
        <%= link_to '<i class="bi bi-trash3"></i>'.html_safe, product_path(product.id), method: :delete, data: { confirm: 'Are you sure? you want to delete this product?' }, class: 'btn btn-outline-danger'%>
      </div>
    </div>
  <% end %>
</div>


