<div class='d-flex product-body'>
  <div class='w-100'>
    <strong><%= link_to "#{product.name.camelize}", product_path(product), class: 'text-success'%></strong>
    <div>SKU: <%= product.code %></div>
  </div>
  <div class='w-100'><%= product.category&.name&.camelize || 'Others'%></div>
  <div class='w-100'><%= stock_status(product.quantity) %></div>
  <div class='w-100'>
    <%= image_tag product.avatar_url, class: "product-img"%>
  </div>
</div>


