<%= render partial: 'shared/page_header', locals: {title: 'New Products'}%>

<div class= "p-5 new-product-form">
  <%= form_for(@product, url: {action: :create }) do |f| %>
    <div class='d-flex mt-2'>
      <div class='w-100 mb-3'>
        <label for='code'>Product Code</label>
        <%= f.text_field :code, autofocus: true, placeholder: 'Enter Product Code', class: 'form-control', required: true %>
      </div>
      <div class='w-100 mb-3 left-margin'>
        <label for='name'>Product name</label>
        <%= f.text_field :name, placeholder: 'Enter Product Name', class: 'form-control', required: true %>
      </div>
    </div>
    <div class='d-flex'>
      <div class='w-100 mb-3'>
        <%= f.label :description %>
        <%= f.text_field :description, placeholder: 'Enter Product Details', class: 'form-control' %>
      </div>
      <div class='w-100 mb-3 left-margin product-category-select'>
        <%= f.label :category %>
        <div class='d-flex'>
          <%= f.collection_select :category_id, @categories, :id, :name%>
          <%= link_to '+', new_category_path, {:remote => true ,class: 'new-category'}%>
        </div>
      </div>
    </div>
    <div class='d-flex'>
      <div class='w-100 mb-3 product-category-select'>
        <%= f.label :supplier %>
        <div class='d-flex'>
          <%= f.collection_select :supplier_id, @suppliers, :id, :company_name%>
          <%= link_to '+', new_supplier_path, class: 'new-category'%>
        </div>
      </div>
    </div>
    <div class='d-flex mt-2'>
      <div class='w-100 mb-3'>
        <%= f.label :quantity %>
        <%= f.number_field :quantity, placeholder: 'Enter Product Stock', class: 'form-control', min: 0 %>
      </div>
      <div class='w-100 mb-3 left-margin'>
        <%= f.label :avatar %>
        <%= f.file_field :avatar,  class: 'form-control', direct_upload: true, accept: "image/*" %>
      </div>
    </div>
    <div class='d-flex'>
      <div class='w-100 text-center'>
        <%= f.submit 'Add Product', class: 'btn btn-success' %>
      </div>
    </div>
  <% end %>
</div>

<div id="new-category-modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>